
@import url('https://fonts.googleapis.com/css?family=Catamaran:800');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.background-image-div {


background-color: transparent;
position:relative;
float: none;
height: 100vh;
width: 100vh;
margin-bottom:20vh;
background-size: cover;
}


.about {
  padding: 20px 10px;
  margin-top: 15px;
  display:block;
  margin-left:20px;
  margin-bottom: 150px;

}
.heading-name {
  font-family: "Catamaran", sans-serif;
  font-size: 4vw;
  box-sizing: content-box;
  font-size-adjust: auto;
  letter-spacing:.3em;
  color:white;
  text-align: center;
  margin-top: 50vh;
  padding-left: 7vw;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  text-decoration-color:  #ff8cd8;
  text-decoration-style:  double;
}
.social-icons {
float: right;
margin: 5%;
font-size: 2.5em;
color: black;

}



.carouselImage {
  height: 100%;
}


.image-cropper {
    position: relative;
    overflow: hidden;

}
.profile-pic {
  display: inline-block;;
  margin: 1em 0em;
  padding-top:0em;


}
.carousel-div{
  width: 100vw;
  margin: auto;
  padding-top: 100px;
}

.merch-card{
  float: left;
  margin-left:15px;
  padding-top: 15px;
  margin-bottom: 300px;
  align-items: center;

}

.about-body{
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 23px;
  letter-spacing:1px;
  text-align: left;
  margin-top: 1.5em;


}

.lineHeading{

  font-family: "Catamaran", sans-serif;
  letter-spacing: 2vw;
  margin: auto;
  text-align: center;
  display: block;
  font-size: 4vw;
}

.horizontal-line{
  border:solid 2px #ff8cd8;
  width: 70%;
  margin-bottom: 1em;
}

.projects-div{
  margin-bottom: 500px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact-div{
  box-sizing:border-box;
  color: #cccccc;
  margin-left: 7em;
  font-family: "Catamaran", sans-serif;
}



.contact-about{
  color: #ff8cd8;
  font-family: "Open Sans Condensed", sans-serif;

  text-decoration: none;

  font-size: 2em;
}
