@import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
@import url('https://fonts.googleapis.com/css?family=Catamaran:800');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Loved+by+the+King');



.container {
width: 100%;
height: 500px;
background-color: transparent;
float: left;
background-size: cover;
overflow: hidden;
margin-bottom: 50px;
}

.nav-bar {

margin: 40px 30px ;
float:left;

}
.heading-name {
  font-family: "Megrim", cursive;
  font-size: 35px;
  letter-spacing:5px;
  text-indent: 5.5px;
  color:black;
  text-align: center;
  margin-top: 30%;

  text-decoration: underline;
  text-decoration-color:  #19A96A;
  text-decoration-style:  double;
}
.social-icons {
float: right;
margin: 40px 40px;
font-size: 25px;
color: black;

}

.about-heading {
  font-family: "Loved by the King", cursive;
  font-size: 40px;
  text-align: center;


}

.carouselImage {
  width: fill-available;
  height: 100%;
  

}

.heading-decoration{
  color: #19A96A;
}

.App-link {
  color: #61dafb;
}

.lineHeading{
  font-family: "Loved by the King", cursive;
  text-align: center;
  padding: 0px 200px;
  display: block;
  font-size: 25px;


}
