
@import url('https://fonts.googleapis.com/css?family=Catamaran:800');

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');


.background-image-div {


background-color: transparent;
display:block;
float: none;
height: 100vh;
width: 100vh;
margin-bottom:150px;
background-size: cover;
}


.about {
  padding: 20px 10px;
  margin-top: 15px;
  display:block;
  margin-left:20px;

}
.heading-name {
  font-family: "Catamaran", sans-serif;
  font-size: 60px;
  text-align: center;
  font-size-adjust: auto;
  letter-spacing:15px;
  text-indent: 5.5px;
  color:black;
  text-align: center;
  margin-top: 32%;
  margin-left: auto;
  margin-right: auto;
  text-decoration: underline;
  text-decoration-color:  #ff8cd8;
  text-decoration-style:  double;
}
.social-icons {
float: right;
margin: 40px 40px;
font-size: 25px;
color: black;

}



.carouselImage {
  width: fill-available;
  height: 100%;
}


.image-cropper {
    position: relative;
    overflow: hidden;

}
.profile-pic {
  display: inline;
  margin: 30px 0px;
  padding-top:70px;


}
.carousel-div{
  width: 60%;
  margin: auto;
  padding-top: 100px;
}
.about-body{
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 23px;
  letter-spacing:1px;
  padding-top: 100px;
  text-align: left;
  margin-bottom: 300px;
}

.lineHeading{

  font-family: "Catamaran", sans-serif;
  letter-spacing: 7px;
  text-align: center;
  display: block;
  font-size: 50px;

}

.horizontal-line{
  border:solid 2px #ff8cd8;
  width: 70%;
}

.projects-div{
  margin-bottom: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
